[submodule "Dependencies/Framework"]
	path = Dependencies/Framework
	url = https://github.com/Sumandora/Framework.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/xorstr"]
	path = Dependencies/xorstr
	url = https://github.com/JustasMasiulis/xorstr.git
