[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/SimpleJSON"]
	path = Dependencies/SimpleJSON
	url = https://github.com/Sumandora/SimpleJSON.git
