[submodule "Dependencies/Framework"]
	path = Dependencies/Framework
	url = https://github.com/Sumandora/Framework.git
	branch = hardened
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/xorstr"]
	path = Dependencies/xorstr
	url = https://github.com/JustasMasiulis/xorstr.git
[submodule "Dependencies/mINI"]
	path = Dependencies/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "Dependencies/length-disassembler"]
	path = Dependencies/length-disassembler
	url = https://github.com/Nomade040/length-disassembler.git
[submodule "Dependencies/DetourHooking"]
	path = Dependencies/DetourHooking
	url = https://github.com/Sumandora/DetourHooking.git
[submodule "Dependencies/ReturnAddressSpoofer"]
	path = Dependencies/ReturnAddressSpoofer
	url = https://github.com/Sumandora/ReturnAddressSpoofer.git
[submodule "Dependencies/SignatureScanner"]
	path = Dependencies/SignatureScanner
	url = https://github.com/Sumandora/SignatureScanner.git
